<%= form_for [ "admin" , @page] do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :slug %><br>
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :visibility %><br>
    <%= f.text_field :visibility %>
  </div>
  <div class="field">
    <%= f.label :menu_label %><br>
    <%= f.text_field :menu_label %>
  </div>
  <div class="field">
    <%= f.label :redirect_url %><br>
    <%= f.text_field :redirect_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
