<p id="notice"><%= notice %></p>
&larr;<%= link_to('Back to Dashboard', admin_path) %>

<h1>Listing Pages</h1>
<p><%= page_usage_notice %></p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Slug</th>
      <th>Visibility</th>
      <th>Menu label</th>
      <th>Redirect url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td><%= page.body %></td>
        <td><%= page.slug %></td>
        <td><%= page.visibility %></td>
        <td><%= page.menu_label %></td>
        <td><%= page.redirect_url %></td>
        <td><%= link_to 'Show', admin_page_path(page) %></td>
        <td><%= link_to 'Edit', edit_admin_page_path(page) %></td>
        <td><%= link_to 'Destroy', admin_page_path(page), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% if can? :create, :pages %>
  <%= link_to 'New Page', new_admin_page_path %>
<% end %>
