<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @page.body %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @page.slug %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @page.visibility %>
</p>

<p>
  <strong>Menu label:</strong>
  <%= @page.menu_label %>
</p>

<p>
  <strong>Redirect url:</strong>
  <%= @page.redirect_url %>
</p>

<%= link_to 'Edit', edit_admin_page_path(@page) %> |
<%= link_to 'Back', admin_pages_path %>
