<h1>Welcome! <%= current_user.name %></h1>
<% if current_user_subscribed? %>
  <p>Your current plan is "<em><%= current_user.subscription_plan.capitalize %></em>" and your account is active untill <em><%= distance_of_time_in_words(Time.now, current_user.subscription_active_untill) %></em>.</p>
<% else %>
  <p>Hello! you are currently on 10-days free trial!</p>
<% end %>

<ul>
	<li><%= link_to('Pages', admin_pages_path) %></li>
	<li><%= link_to('Themes', admin_themes_path) %></li>
	<li><%= link_to('Settings', admin_settings_path) %></li>
	<li><%= link_to('Subscription', admin_pricing_path) %></li>
</ul>