<!DOCTYPE html>
<html>
<head>
  <title>Theme Layout</title>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">

		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <p class="logged-in-as">
        <%= "Signed in as #{current_user.name}." %>
        <%= link_to "Log out.", destroy_user_session_path, method: :delete %>
      </p>
    <% end %>

		<%= yield %>
    
	</div>
</body>
</html>
