<h1>Home Page - Subdomain</h1>

<p>This page should not require any authetication and should be public.</p>

<ul>
	<li><%= link_to('Dashboard', admin_path) %></li>
	<li><%= link_to('Pages', admin_pages_path) %></li>
	<li><%= link_to('Themes', admin_themes_path) %></li>
	<li><%= link_to('Settings', admin_settings_path) %></li>
</ul>
