<h1>Themes</h1>
<p>Please activate any theme from the list below.</p>
<br>

<% @themes.each do |theme| %>
    <%= form_tag admin_themes_path, method: "post" do %>
    <p><%= "#{theme.name} (by #{theme.author})" %></p>
    <p><%= hidden_field_tag "settings[current_theme]", theme.id %></p>
    <p><%= submit_tag "Activate", class: "btn btn-primary" %></p>
    <% end %>
<% end %>



