&larr;<%= link_to('Back to Dashboard', admin_path) %>

<h2>General</h2>

<%= form_tag admin_settings_path, method: "post" do %>

	<p>
		<label>Homepage:</label>
		<% # select_tag "settings[homepage]", homepage_options, class: "form-control" %>
	</p>

	<p>
		<label>Site Title:</label>
		<%= text_field_tag "settings[site_title]", @settings["site_title"] %>
	</p>
	
	<p>
		<label>Site Description:</label>
		<%= text_area_tag "settings[site_desc]", @settings["site_desc"] %>
	</p>
	
	<p>
		<label>Site URL:</label>
		<%= text_field_tag "settings[site_url]", @settings["site_url"] %>
	</p>

	<p>
		<label>Theme:</label>
		<%= text_field_tag "settings[current_theme]", @settings["current_theme"] %>
	</p>

	<p>
		<%= submit_tag "Save settings", class: "btn btn-primary" %>
	</p>

<% end %>

<% if current_user_subscribed? %>

	<hr>

	<h2>Update Card</h2>

	<p>Your current card on file is:</p>
	<div><%= current_user.card_brand %> **** **** **** <%= current_user.card_last_digits %></div>
	<div>Expires <%= current_user.card_exp_month %> / <%= current_user.card_exp_year %></div>
	<br>

	<%= form_tag admin_update_card_path, id: "payment-form" do %>

	  <span class="payment-errors"></span>

	  <div class="form-row">
	    <label>
	      <span>Card Number</span>
	      <input type="text" size="20" data-stripe="number">
	    </label>
	  </div>

	  <div class="form-row">
	    <label>
	      <span>Expiration (MM/YY)</span>
	      <input type="text" size="2" data-stripe="exp_month">
	    </label>
	    <span> / </span>
	    <input type="text" size="2" data-stripe="exp_year">
	  </div>

	  <div class="form-row">
	    <label>
	      <span>CVC</span>
	      <input type="text" size="4" data-stripe="cvc">
	    </label>
	  </div>

	  <%= hidden_field_tag "plan", params["plan"] %>

	  <input type="submit" class="submit" value="Update Card">

	<% end %>

	<hr>

     <h2>Unsubscribe</h2>
	<p>Unhappy? <%= button_to "Cancel my subscription", admin_unsubscribe_path, data: { confirm: "Are you sure?" }, method: :delete %></p>
<% end %>