&larr;<%= link_to('Back to Dashboard', admin_path) %>


<h1>Checkout</h1>

<% if current_user.stripe_subscription_id? %>
  <p>You are changing your plan from "<%= current_user.subscription_plan.capitalize %>" to "<%= params[:plan].capitalize %>"</p>
<% else %>
  <p>You will be subscribed for the "<%= params[:plan].capitalize %>" plan.</p>
<% end %>


<%= form_tag admin_subscribe_path, id: "payment-form" do %>

  <!-- OLD SUBSCRIBER -->
  <% if current_user.card_last_digits? %>
    <div class="card-on-file">
      <p>Your current card on file is:</p>
      <div><%= current_user.card_brand %> **** **** **** <%= current_user.card_last_digits %></div>
      <div>Expires <%= current_user.card_exp_month %> / <%= current_user.card_exp_year %></div>
      <p><%= link_to "Use a different card", "#", class: "use-different-card" %></p>
    </div>
  <% end %>

  <!-- NEW SUBSCRIBER -->
  <div class="card-fields <%= card_fields_class %>">

    <span class="payment-errors"></span>

    <div class="form-row">
      <label>
        <span>Card Number</span>
        <input value="4242424242424242" type="text" size="20" data-stripe="number">
      </label>
    </div>

    <div class="form-row">
      <label>
        <span>Expiration (MM/YY)</span>
        <input value="4" type="text" size="2" data-stripe="exp_month">
      </label>
      <span> / </span>
      <input value="18" type="text" size="2" data-stripe="exp_year">
    </div>

    <div class="form-row">
      <label>
        <span>CVC</span>
        <input value="217" type="text" size="4" data-stripe="cvc">
      </label>
    </div>

    <%= hidden_field_tag "plan", params["plan"] %>

  </div>

  <input type="submit" class="submit" value="Submit Payment">

<% end %>
