&larr;<%= link_to('Back to Dashboard', admin_path) %>
<br><br>

<h1>Our Plans</h1>
<br>

<h3>Basic</h3>
<p>Priced @ $6.00 per month (billed monthly)</p>
<p>Priced @ $8.00 per month (billed annually)</p>

<% if current_user.subscription_plan != "basic" %>
	<%= link_to('Select Plan', admin_checkout_path(:plan => "basic")) %>
<% else %>
	<em>(Currently Active Plan)</em>
<% end %>


<br><br>

<h3>Professional</h3>
<p>Priced @ $8.00 per month (billed monthly)</p>
<p>Priced @ $10.00 per month (billed annually)</p>

<% if current_user.subscription_plan != "professional" %>
	<%= link_to('Select Plan', admin_checkout_path(:plan => "professional")) %>
<% else %>
	<em>(Currently Active Plan)</em>
<% end %>

<br><br>

<h3>Agency</h3>
<p>Priced @ $19.00 per month (billed monthly)</p>
<p>Priced @ $25.00 per month (billed annually)</p>

<% if current_user.subscription_plan != "agency" %>
	<%= link_to('Select Plan', admin_checkout_path(:plan => "agency")) %>
<% else %>
	<em>(Currently Active Plan)</em>
<% end %>
