<!DOCTYPE html>
<html>
<head>
  <title>Dunked</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'https://js.stripe.com/v2/', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <%= tag :meta, name: "stripe-key", content: STRIPE_PUBLIC %>
</head>
<body>
	<div class="container">

		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <p class="logged-in-as">
        <%= "Signed in as #{current_user.name}." %>
        <%= link_to "Log out.", destroy_user_session_path, method: :delete %>
      </p>
    <% end %>

		<%= yield %>
    
	</div>
</body>
</html>
